<strong>Olá, {{ deliveryman }}</strong>
<p>Sua encomenda foi cancelada! fique atento</p>
<p>
  <strong>Nome do produto:</strong> {{ product }} <br />
  <br />
  <small>
    Caso esteja com o produto, devolva o mesmo no local de retirada.
  </small>
</p>
