<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova encomenda lhe aguardando para ser retirada</p>
<p>
  <strong>Nome do produto:</strong> {{ product }} <br />
  <br />
  <small>
    Retire o produto em horário comercial para realizar a entrega.
  </small>
</p>
